=form_for team do |f|
  %fieldset
    .clearfix
      =f.label :name, "Team Name:"
      .input
        = f.text_field :name, :disabled => !@is_admin
    .clearfix
      =f.label :coach, "Coach's Name:"
      .input
        = f.text_field :coach
    .clearfix
      =f.label :email, "Email:"
      .input
        = f.text_field :email
    -if !@is_admin
      .clearfix
        =f.label :password, "Current Password:"
        .input
          = f.password_field :password_existing
      .clearfix
        =f.label :password, "Change Password:"
        .input
          = f.password_field :password
      .clearfix
        =f.label :password, "Change Password (confirm):"
        .input
          = f.password_field :password_confirmation
  - if @is_admin
    %fieldset
      .clearfix
        =f.label :number, "Team Number:"
        .input
          = f.text_field :number
      .clearfix
        =f.label :division, "Division:"
        .input
          = select(:team, :division, [['A', 'A'], ['B', 'B'], ['C', 'C']])
      .clearfix
        =f.label :password, "Password:"
        .input
          = f.password_field :password
      .clearfix
        =label_tag 'send_email', 'Send Password via Email'
        .input
          =check_box_tag 'send_email', 'true', :checked => 'checked'
          %span.help-block
            %b Note:
            This will send an email to the coach containing the password.
            You can only send the password email if you change the password.
  .actions
    %input.btn.primary{ type: 'submit', value: team.persisted? ? 'Save Changes' : 'Create Team' }
    - if team.persisted? && @is_admin
      = link_to 'Delete Team', team_path(team), data: { confirm: 'Are you sure you want to delete this team?' },
        method: 'delete',
        class: 'btn'
