%p
  To register for event timeslots, you must login as a competiting team. Passwords have been sent to the coach of each team.  Each team has a unique password.
%p
  If you have forgotten or misplaced your password, please contact
  %a{:href => "mailto:#{@current_school.admin_email}"}
    =@current_school.admin_name
  to receive a new one.

= form_tag login_teams_path, class: 'form-horizontal' do
  .form-group
    = label_tag :team_id, 'Select A Team:', class: 'control-label col-md-3'
    .col-md-9
      = select :team, :id, @teams.map { |x| ["#{x[:name]} (Team #{x.getNumber})", x[:id]] }, {}, class: 'form-control'

  .form-group
    - if @is_admin
      .col-md-9.col-md-offset-3
        %b You are an admin.
        Click Login to log in as this team. You can change this team's password once logged in.
    - else
      = label_tag :password, 'Password:', class: 'control-label col-md-3'
      .col-md-9
        = password_field_tag :password, "", :size => 20, class: 'form-control'

  .row
    .col-md-9.col-md-offset-3
      %input{:type=>"hidden", :name=>"is_admin", :value=>"false"}
      =submit_tag "Login", :class=>"btn primary"

- content_for :javascripts do
  :javascript
    mixpanel.track("View Login Page");
