%h2
  = @team.name
  %small="Team ##{@team.getNumber}"

%p
  Welcome,
  = @team.name + "."
  On this site, you will find all you need to complete registration for the upcoming Science Olympiad tournament.
- if !@current_tournament.can_register?
  .alert-message.alert
    - if @current_tournament.has_registration_ended?
      %b Note:
      Registration ended at
      =@current_tournament.registration_ends.strftime("%B %d, %Y %I:%M %p") + "."
      Please e-mail
      =link_to @current_school.admin_name, "mailto:" + @current_school.admin_email
      with any urgent scheduling questions.
    - else
      - if !@current_tournament.has_registration_begun?
        %b Note:
        Registration begins
        = @current_tournament.human_times[:registration_begins]
.row
  .col-md-6
    %h3
      %b Things To Do
    /%ul{:style => "text-align:left"}
    %h5=link_to("View Events That You Can Register For",division_schedules_url(@team.division))
    %h5=link_to("View All Your Registrations", signups_url)
    %h5=link_to("View Scores", tournament_scores_path(@team.tournament))
    - if !@team.tournament.scores_revealed?
      .help-block
        Note: Scores will not be available until after the tournament.
    %h5=link_to "Change Password", edit_team_url(@team.id)
    %h5=link_to "Logout", logout_url
  .col-md-5.col-md-offset-1
    %h3 Your Information
    %p
      %b Team Name:
      =@team.name
    %p
      %b Team Number:
      ="##{@team.getNumber}"
    %p
      %b Coach:
      =@team.coach
    %p
      %b Home Room:
      =@team.homeroom
