This page will customize a slideshow of results to be shown at the awards ceremony.

= form_tag admin_tournament_scoreslideshow_path(@current_tournament),
           class: 'form-horizontal', target: '_new' do
  .form-group
    %label.control-label.col-md-3
      Divisions:
    .col-md-9
      - @current_tournament.divisions.each do |d|
        .checkbox
          %label
            = check_box_tag "slideshow[division][#{d}]", 'true',
              checked: 'checked'
            Division #{d}

  .form-group
    %label.control-label.col-md-3
      %b Show Top
    .col-md-9
      .row
        .col-md-4
          .input-group
            = text_field_tag 'slideshow[top_places]', 1, class: 'form-control'
            %span.input-group-addon places per event
      .help-block More teams may be displayed in the result of a tie.

  .form-group
    %label.control-label.col-md-3
      %b Show Top
    .col-md-9
      .row
        .col-md-4
          .input-group
            = text_field_tag 'slideshow[top_teams]', 1, class: 'form-control'
            %span.input-group-addon teams
      .help-block More teams may be displayed in the result of a tie.

  .form-group
    %label.control-label.col-md-3
      %b Order Events
    .col-md-9
      - options = {'Alphabetically' => 'alpha',
        'Alphabetically by Division' => 'alphadiv',
        'Randomly' => 'random',
        'Randomly by Division' => 'randomdiv'}
      = select_tag 'slideshow[order]', options_for_select(options), class: 'form-control'

  - if !@withheldevents.empty?
    .alert.alert-warning
      %b Warning:
      The following events have scores withheld. Should they be included in the slideshow?
      %ul
        - @withheldevents.each do |e|
          %li=e.humanize

      .form-group
        .checkbox
          %label
            %input{:type=>"radio",:name=>"slideshow[skip_withheld]", :value=>"false", :checked=>"checked"}
            Yes, include these events in the slideshow.
        .checkbox
          %label
            %input{:type=>"radio", :name=>"slideshow[skip_withheld]", :value=>"true"}
            No, skip these events in the slideshow.

  - if !@unfinishedevents.empty?
    .alert.alert-danger
      %b Error:
      The following events have no scores reported. They will be omitted from the awards slideshow.
      %ul
        - @unfinishedevents.each do |e|
          %li=e.humanize

  - if @teams.empty?
    .alert.alert-danger
      %b Error
      There are no teams in this tournament!
      .alert-actions
        =link_to "Add some now.", new_team_url, :class=>"btn"

  - if @events.empty?
    .alert.alert-danger
      %b Error
      There are no events in this tournament!
      .alert-actions
        =link_to "Add some now.", new_schedule_url, :class=>"btn"

  - if !@teams.empty? && !@events.empty?
    .row
      .col-md-9.col-md-offset-3
        %input.btn-primary.btn{:type=>"submit", :value=>"Create Slideshow!"}
