%h3 Reset My Password
%p Choose a new password.

= form_tag set_new_password_password_reset_index_path, class: 'form-horizontal' do
  = hidden_field_tag :reset_token, params[:reset_token]
  = hidden_field_tag :user_id, params[:user_id]
  .form-group
    = label_tag :password, 'New Password:', class: 'control-label col-md-3'
    .col-md-9
      = password_field_tag :password, '', class: 'form-control'

  .form-group
    = label_tag :password_confirmation, 'Confirm Password:', class: 'control-label col-md-3'
    .col-md-9
      = password_field_tag :password_confirmation, '', class: 'form-control'

  .row
    .col-md-9.col-md-offset-3
      = submit_tag 'Reset Password', class: 'btn btn-primary'
