- provide :title, 'Sign Up for a Foundry Account'

%p
  To use Foundry as a coach or tournament director, you need a Foundry account.

%p
  If you think you might already have a username / password, you can try
  #{link_to 'logging in to an existing account', login_users_path(next_path: params[:next_path])}.

.row
  .col-md-8
    = form_for :user, url: users_path(next_path: params[:next_path]),
                      html: { class: 'form-horizontal' } do |f|
      .form-group
        = f.label :email, 'Email:', class: 'control-label col-md-3'
        .col-md-9
          = f.text_field :email, class: 'form-control'

      .form-group
        = f.label :password, 'Password:', class: 'control-label col-md-3'
        .col-md-9
          = f.password_field :password, class: 'form-control'

      .form-group
        = f.label :password_confirmation, 'Password Confirmation:', class: 'control-label col-md-3'
        .col-md-9
          = f.password_field :password_confirmation, class: 'form-control'

      .row
        .col-md-9.col-md-offset-3
          = f.submit "Sign Up!", :class=>"btn btn-primary"
