- provide :title, 'Sign Up for a Foundry Account'

%p
  A Foundry account is your unified account for multiple tournaments.
  Create an account to set up a tournament, or as a coach create an account
  to manage your team.

.row
  .col-md-8
    = form_for User.new, html: { class: 'form-horizontal' } do |f|
      .form-group
        = f.label :email, 'Email:', class: 'control-label col-md-3'
        .col-md-9
          = f.text_field :email, class: 'form-control'

      .form-group
        = f.label :password, 'Password:', class: 'control-label col-md-3'
        .col-md-9
          = f.password_field :password, class: 'form-control'

      .form-group
        = f.label :password_confirmation, 'Password Confirmation:', class: 'control-label col-md-3'
        .col-md-9
          = f.password_field :password_confirmation, class: 'form-control'

      .row
        .col-md-9.col-md-offset-3
          = f.submit "Log In!", :class=>"btn btn-primary"
