:javascript
  $(function() {
    $("#schedule_event").focus();
    $("#schedule_event").bind("blur", function() {
      
    });

    $("#schedule_online_false").click(function(){
      $("div#schedule_online_details").hide();
    });
    $("#schedule_online_keep_existing").click(function(){
      $("div#schedule_online_details").hide();
    });
    $("#schedule_online_true").click(function(){
      $("div#schedule_online_details").show();
    });
  });
- if !@schedule.new_record?
  :javascript
    $(function(){
      $("div#schedule_online_details").hide();
    });
=form_for(@schedule) do |f|
  %fieldset
    %div.clearfix
      %label
        Tournament:
      %div.input
        %input{:type=>"text",:disabled=>"disabled",:value=>"#{@current_tournament.humanize}"}
    %div.clearfix
      %label{:for=>'schedule[event]'}
        %b Event Name:
      %div.input
        = f.autocomplete_field :event, autocomplete_event_schedule_path, :id_element => '#schedule_event_id'
        = hidden_field_tag :schedule_event_id, "-1"
    %div.clearfix
      %label{:for=>"schedule_division_b"}
        %b Division:
      %div.input
        %ul.inputs-list
          %li
            %label
              = radio_button :schedule, :division, "B"
              Division B
          %li
            %label
              = radio_button :schedule, :division, "C"
              Division C
    %div.clearfix
      %label{:for=>"room"}
        %b Room:
      %div.input
        = f.text_field :room
    %div.clearfix
      %label{:for=>"schedule_starttime"}
        %b Event Start Time:
      %div.input
        =f.time_select :starttime, { :minute_step => 5 }, :class=>"small"
    %div.clearfix
      %label{:for=>"schedule_endtime"}
        %b Event End Time:
      %div.input
        = f.time_select :endtime, { :minute_step => 5 }, :class=>"small"
    %div.clearfix
      %label{:for=>"schedule_custom_info"}
        %b
          Custom Information
          %a{:href=>"#"} (textile)
      %div.input
        = f.text_area :custom_info, :rows => 10
  %fieldset
    %div.clearfix
      %label
        %b Include In Score:
      %div.input
        %ul.inputs-list
          %li
            %label 
              = radio_button :schedule, :counts_for_score, "true", :selected=>:true
              Yes
            %span.help-block
              This event counts towards a team's score and ranking. 
          %li
            %label
              = radio_button :schedule, :counts_for_score, "false"
              No
            %span.help-block
              For example, a trial event.
  %fieldset
    %div.clearfix
      %label{:for=>"schedule_online"}
        %b Schedule Online?
      %div.input
        %ul.inputs-list
          - if !@schedule.new_record?
            %li
              %label
                = radio_button_tag :schedule_online, "keep_existing", true
                Do Not Change Schedule
              %span.help-block
                Do not touch existing timeslots when saving this event.
          %li
            %label
              = radio_button_tag :schedule_online, "false"
              Fixed Schedule
            %span.help-block
              A schedule where the event has a fixed timeslot.
            - if !@schedule.new_record?
              %span.help-block
                %b Note:
                This will remove all existing timeslots.
          %li
            %label
              = radio_button_tag :schedule_online, "true", @schedule.new_record?
              Schedule Online
            %span.help-block
              Allow teams to register for timeslots online.
            - if !@schedule.new_record?
              %span.help-block
                %b Note:
                This will recreate all timeslots between the start and end times.
    %div#schedule_online_details
      %div.clearfix
        %label{:for=>"schedule_num_timeslots"}
          %b Number Of Timeslots:
        %div.input
          = f.text_field :num_timeslots
          %span.help-block
            %b Note:
            There are 
            %b=@current_tournament.teams.length
            teams competiting in this tournament.
      %div.clearfix
        %label{:for=>"schedule_teams_per_slot"}
          %b Teams Per Timeslot:
        %div.input
          = f.text_field :teams_per_slot
  %div.actions
    - if @schedule.new_record?
      = f.submit "Add Event To Schedule", :class=>"btn primary"
    - else
      = f.submit "Save Changes To Event", :class=>"btn primary"
