- spots_remaining = ts.team_capacity - ts.occupants.length
%tr
  %th=ts.begins.strftime("%I:%M %p")
  - if (not session[:user].nil? and session[:user].is_admin_of(@current_school))
    %td
      - ts.occupants.each do |team|
        = team.name
        %br
      - if ts.occupants.length < ts.team_capacity
        .help-block="#{pluralize(spots_remaining, "spot")} available."
  - else
    - if spots_remaining > 0
      %td="#{pluralize(spots_remaining, "spot")} available."
    - else
      %td
        .help-block="#{pluralize(spots_remaining, "spot")} available."
  - if (@team && @team.can_register_for_event?(@schedule)) || (session[:user] && session[:user].can_register_team_for_event?(@team, @schedule))
    - if spots_remaining > 0
      %td
        - if @currentreg.nil?
          =link_to "Register!", newsignup_path(ts), :class=>"btn"
    - else
      %td
  - if session[:user] && session[:user].can_edit?(@schedule)
    %td
      %a.hidebtn{:href=>"javascript:toggleTimeslotEdit('#{ts.id}')"}
        =image_tag "edit.png"
    %td
      =link_to(image_tag("delete.png"),timeslot_url(ts), {:method=>:delete, :confirm=>"Are you sure you wish to delete this timeslot? All Sign Ups for that timeslot will be deleted as well.", :class=>"hidebtn"})
- if session[:user] && session[:user].can_edit?(@schedule)
  %tr{:id=>"edit-timeslot-#{ts.id}",:style=>"display:none;"}
    =form_for(ts, :url=>timeslot_url(ts)) do |f|
      %td=f.time_select :begins, {:default => ts.begins}, :class=>"span2"
      %td
        =f.text_field :team_capacity, {:value => ts.team_capacity, :class=>"span1"}
        teams may register here.
      %td{:colspan=>3}
        =f.submit "Save!", :class=>"btn success"
- if ts.sign_ups.include?(@currentreg)
  %tr
    %td{:colspan=>2} 
      Your team is registered here, in the #{ts.begins.strftime("%I:%M %p")} timeslot.
    - if (@team.can_register_for_event?(@schedule)) || (session[:user] && session[:user].can_register_team_for_event?(@team, @schedule))
      %td
        =link_to "Unregister", destroysignup_path(@currentreg), :class=>"btn"
