- spots_remaining = ts.team_capacity - ts.occupants.length
%tr
  %th=ts.begins.strftime("%I:%M %p")
  - if @is_admin
    %td
      - ts.occupants.each do |team|
        = team.name
        %br
      - if ts.occupants.length < ts.team_capacity
        .help-block="#{pluralize(spots_remaining, "spot")} available."
  - else
    - if spots_remaining > 0
      %td="#{pluralize(spots_remaining, "spot")} available."
    - else
      %td
        .help-block="#{pluralize(spots_remaining, "spot")} available."
  - if @team.try(:can_register_for_event?, @schedule) || @current_admin.try(:can_register_team_for_event?, @team, @schedule)
    - if spots_remaining > 0
      %td
        - if @currentreg.nil?
          = link_to "Register!", timeslot_register_path(ts), :class=>"btn"
    - else
      %td
  - if @current_admin.try(:can_edit?, @schedule)
    %td
      = link_to 'Edit', '#', class: 'timeslot-edit-link', data: { 'timeslot-id' => ts.id }
    %td
      = link_to 'Delete', timeslot_url(ts),
        method: :delete,
        data: { confirm: 'Are you sure you wish to delete this timeslot? All Sign Ups for that timeslot will be deleted as well.' }

- if @current_admin.try(:can_edit?, @schedule)
  %tr{:id=>"edit-timeslot-#{ts.id}",:style=>"display:none;"}
    %td.row{ colspan: 5 }
      = form_for(ts, url: timeslot_url(ts), async: true, html: { class: 'row' }) do |f|
        .span4
          = f.time_select :begins, {:default => ts.begins}, :class=>"span2"
        .span7
          = f.text_field :team_capacity, {:value => ts.team_capacity, :class=>"span1"}
          teams may register here.
        .span2
          = f.submit "Save!", :class=>"btn success"

- if ts.sign_ups.include?(@currentreg)
  %tr
    %td{:colspan=>2}
      Your team is registered here, in the #{ts.begins.strftime("%I:%M %p")} timeslot.
    - if @team.can_register_for_event?(@schedule) || @current_admin.try(:can_register_team_for_event?, @team, @schedule)
      %td
        = link_to 'Unregister', signup_path(@currentreg),
          data: { confirm: 'Are you sure you wish to remove your registration?' },
          method: :delete,
          class: 'btn'
