%p 
  Below is a list of all events for the tournament scheduled for
  =[@current_tournament.humanize, "."].join
  Please check to ensure you register for all events before registration closes.

%div.bluebox.smalllinks
  %table#timeslot
    %tr
      %td
        %b Event Name
      %td
        %b Begin Time
      %td
        %b End Time
      - if not session[:team].nil? 
        %td
          %b Registered?
    - @schedules.each do |s|
      %tr
        - if not session[:team].nil? or not session[:user].nil?
          %td= link_to(s.event, url_for(s))
        - else
          %td= s.event
        %td= s.starttime.strftime("%I:%M %p").downcase
        %td= s.endtime.strftime("%I:%M %p").downcase
        -if not session[:team].nil?
          -if @sign_ups.include?(s.id)
            %td= image_tag("ok.png")
          - else
            %td= image_tag("error.png")
    - if not session[:user].nil? and session[:user].is_admin
      %tr
        %td{:colspan => 4}
          =link_to("New Event", new_schedule_url)
    - if not session[:team].nil?
      %tr#current
        %td{:colspan => 4}
          = link_to("View All Registrations", signups_url)

