= flash[:message]

%h2
  Tournament:
  %b=@current_tournament.humanize

- form_for(@schedule) do |f|
  %div.input
    = f.label :event, "Event Name:"
    = f.text_field :event
  %div.input
    = label :schedule, :division_b, "Division B:"
    = radio_button :schedule, :division, "B"
    %br
    = label :schedule, :division_c, "Division C:"
    = radio_button :schedule, :division, "C"
  %div.input
    = f.label :room, "Room:"
    = f.text_field :room
  %div.input
  Event Start Time:
  = f.time_select :starttime, :minute_step => 10
  %br
  Event End Time:
  = f.time_select :endtime, :minute_step => 10
  %br
  Number Of Timeslots:
  = f.text_field :num_timeslots
  %br
  Teams Per Timeslot:
  = f.text_field :teams_per_slot
  %br
  = f.submit "Add Event To Schedule"
