:css
  div.page-break {
    page-break-before:always;
  }
%div{:align=>"center", :style=>"width:500px; margin:auto;"}
  %div{:style=>"float:left"}
    = image_tag(@current_school.logo.url(:pdf), :height=>"50")
  %div{:style=>"float:right"}
    = image_tag(@current_tournament.homepage_photo.url(:pdf), :height=>"50")
  %h1{:style=>"padding-top:20px; clear:both"}
    = @schedule.event + " (" + @schedule.division + ")"
  -if not @schedule.room.nil?
    %h2= @schedule.room
%p
  Below are the designated timeslots for this event. Sign up for a timeslot by writing your team name and number on the appropriate line.
%div{:class => ["bluebox", "smalllinks"], :style=>"align:center"}
  %table#timeslot{:width => "100%", :style=>"padding:0;margin:0;"}
    %tr
      %td
        %b Timeslot
      %td
        %b Availability
    // Iterate over each timeslot
    - @allslots.each do |ts|
      - tr_id = ""
      - slots_remaining = ts.team_capacity - ts.sign_ups.length
      // First, check if the timeslot is full. If it is, but the team is registered there,
      //  they will still see their name in the table (as is desirable).
      - if slots_remaining == 0 and not (not session[:user].nil? and session[:user].is_admin_of(@current_school))
        - tr_id = "unavailable"
      // If the team has registered for the event, show them their name.
      - if not @currentreg.nil? and ts.id == @currentreg.timeslot_id
        - display = @team.name
        - giveoptions = true
        - tr_id = "current"
      - else
        // If there are openings and this is not the currently registered one
        - display = "Available: " + slots_remaining.to_s + " Slot(s)"
        - giveoptions = false
      %tr{:id => tr_id, :style=>"background-color:"+cycle("#FFF","#DDD")}
        %td{:width => "25%"}
          = ts.begins.strftime("%I:%M %p")
        %td{:width => "75%", :style=>"padding:10px"}
          - if (not session[:user].nil? and session[:user].is_admin_of(@current_school))
            - ts.occupants.each do |team|
              %b=team.name.gsub(/[^[:print:]]/, " ")
              = "(#" + team.number + team.division + ")"
              %br
          - if @currentreg.nil?
            - if slots_remaining != 0
              -slots_remaining.times do
                %div{:style=>"height:30px"}
                  _____________________________________
            - else
              - if not (not session[:user].nil? and session[:user].is_admin_of(@current_school))
                Timeslot Full!
          - else
            - if tr_id != "current" and slots_remaining == 0
              Timeslot Full!
            - else
              = display
          - if giveoptions == true
            =link_to("(Unregister)",destroysignup_url(@currentreg),:class=>"action")
%div.page-break
  %h3 Unregistered Teams:
  %ul{:style=>"column-count: 2;-moz-column-count:2; -webkit-column-count:2;"}
    - @teams_remaining.each do |t|
      %li
        %b=t.name.gsub(/[^[:print:]]/, " ")
        ="(#" + t.number + t.division + ")"
