Welcome to the website for the #{@current_tournament.title} scheduled for
%i #{@current_tournament.humanize}.

%section.home-important-dates
  %h2.home-important-dates-header Important Dates:
  %ul
    %li
      %strong Registration Begins:
      = @current_tournament.human_times[:registration_begins]
    %li
      %strong Registration Ends:
      = @current_tournament.human_times[:registration_ends]
    %li
      %strong Tournament Date:
      = @current_tournament.humanize

Such text. Very customize. Much tournament! Wow!
