:css
  .password {
    font-family: 'Courier New', 'Courier', monospace;
  }
Hello,
%p
  Your team,
  %b
    #{@team.name} (##{@team.getNumber}),
  competing at #{@team.tournament.school.name} on #{@team.tournament.humanize}
  has just been assigned a password for online registration.
%p
  Online registration will occur at
  =succeed '.' do
    =link_to @team.tournament.school.url, @team.tournament.school.url
%p
  Please, mark your calendar:
  %ul
    %li Registration begins at #{@team.tournament.human_times[:registration_begins]}
    %li Registration ends at #{@team.tournament.human_times[:registration_ends]}
%h3 Login Information:
%ul
  %li
    Team Name:
    %b #{@team.name} (##{@team.getNumber})
  %li
    Password:
    %b.password= @password
You may change this password by logging in and clicking "Change Password".
%p
  Best,
  %br
  =@team.tournament.school.admin_name
