- provide :title, 'Use Foundry at Your School'
- content_for :javascripts do
  = javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js'
  :javascript
    $(function() {
      $("#register_school").validate({
        errorClass: 'help-inline',
        errorElement: 'span',
        highlight: function(element, errorClass) {
          $(element).parent().parent().addClass("has-error");
        },
        success: function(label) {
          label.parent().parent().removeClass("has-error");
        }
      });
    });

= form_for @school, html: { :id => 'register_school', :class => 'form-horizontal' } do |f|
  %h3 School + Tournament Information:

  .form-group
    = f.label :name, 'School Name', class: 'control-label col-md-2'
    .col-md-6
      = f.text_field :name, class: 'required form-control'

  .form-group
    = f.label :time_zone, 'Time Zone', class: 'control-label col-md-2'
    .col-md-6
      = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, { :default => 'Eastern Time (US & Canada)' }, class: 'form-control'

  .form-group
    = f.label :logo, 'Logo (optional)', class: 'control-label col-md-2'
    .col-md-6
      = f.file_field :logo, class: 'form-control'

  = fields_for Tournament.new do |tournament|
    .form-group
      = tournament.label :title, 'Tournament Title', class: 'control-label col-md-2'
      .col-md-6
        = tournament.text_field :title, class: 'required form-control'

    .form-group
      = tournament.label :date, 'Tournament Date', class: 'control-label col-md-2'
      .col-md-6.form-inline
        = tournament.date_select :date, {:order => [:month, :day, :year]}, :class => 'required form-control col-md-2'

    .form-group
      %label.control-label.col-md-2 Divisions
      .col-md-6
        .radio
          %label
            = check_box_tag 'tournament[divisions][]', "A"
            Division A
        .radio
          %label
            = check_box_tag 'tournament[divisions][]', "B", true
            Division B
        .radio
          %label
            = check_box_tag 'tournament[divisions][]', "C", true
            Division C
        %p.help-block Events will be imported from the official list on soinc.org.


  %h3 Pick a web address:
  .form-group
    = f.label :subdomain, 'Web Address', class: 'control-label col-md-2'
    .col-md-6
      .input-group
        %span.input-group-addon http://
        = f.text_field :subdomain, class: 'required form-control'
        %span.input-group-addon .sciolyreg.org

  .row
    .col-md-6.col-md-offset-2
      =submit_tag 'Sign Up!', :class => 'btn btn-primary'
