!!!
%head
  %title idac :: Ideas at CWRU
  = stylesheet_link_tag 'main'
  = stylesheet_link_tag 'print', :media => "print"
  = stylesheet_link_tag 'cwruheader'
  = javascript_include_tag 'nav'
  = javascript_include_tag :defaults
