!!!
%head
  %title Science Olympiad 2011 - Case Western Reserve University
  = stylesheet_link_tag 'main'
  = stylesheet_link_tag 'print', :media => "print"
  = stylesheet_link_tag 'cwruheader'
  = javascript_include_tag 'nav'
  = javascript_include_tag :defaults
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28081083-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
