#umcNav
  #topNavWrapper
    %ul#topnav
      %li= link_to 'Home', root_path
      - if session[:team].nil?
        %li
          = link_to 'View Event Schedules', schedules_url
          %ul
            - @all_schedules.each do |s| 
              %li=link_to(s.event,s)
        %li
          = link_to 'Team Log In', "#"
          %ul
            %li= link_to "Division B Teams", login_url("B")
            %li= link_to "Division C Teams", login_url("C")
      - else
        %li
          = link_to 'Register For Events', schedules_url
          %ul
            - @all_schedules.each do |s| 
              %li=link_to(s.event,s)
        %li
          = link_to "Logout", logout_url
      - if not session[:user].nil? and session[:user].role == 1
        %li
          =link_to "Admin Panel", admin_index_url
          %ul
            %li=link_to "View All Events", schedules_url
            %li=link_to "Logout", adminlogout_url
