#umcNav
  #topNavWrapper
    %ul#topnav
      %li= link_to 'Home', root_path
      %li
        = link_to 'Event Information', info_index_url() 
        %ul
          %li= link_to "Event Schedule", info_url(Info.get_id("schedule"))
          %li= link_to "Documents and Forms", info_url(Info.get_id("documents"))
          %li= link_to "Rule Clarifications", info_url(Info.get_id("clarifications"))
          %li= link_to "Participating Teams and Team Numbers", info_url(Info.get_id("teams"))
      - if session[:team].nil?
        %li
          = link_to 'Team Log In', "#"
          %ul
            %li= link_to "Division B Teams", login_url("B")
            %li= link_to "Division C Teams", login_url("C")
      - else
        %li
          = link_to 'Register For Events', schedules_url
          %ul
            - @all_schedules.each do |s| 
              %li=link_to(s.event,s)
        %li
          = link_to "Logout", logout_url
      - if not session[:user].nil? and session[:user].role == 1
        %li
          =link_to "Admin Panel", admin_index_url
          %ul
            %li=link_to "Logout", adminlogout_url
