%div
  %h4
    Welcome
%div.sideContent
  %p
    You are currently logged in as
    = [session[:team].name, "."].join
    At the tournement scheduled for 
    = [@current_tournament.humanize, ","].join
    your team is registered with the following details:
    %p{:style=>"margin-left:20px"}
      %b School:
      =session[:team].name
      %br
      %b Team Number:
      =session[:team].getNumber()
      %br
      %b Coach:
      =session[:team].coach
    %p If any of this information is incorrect, contact Jim Bader.

// If the team has an event to register for...
- if not @dont_forget.empty?
  %div
    %h4
      Don't Forget!
  %div.sideContent
    %p 
      Our records show you haven't yet registered for the following events! Please make sure to do this before registration ends, at 
      =@current_tournament.registrationEnds.strftime("%m/%d/%Y %I:%M %p")
    %p{:style => "margin-bottom:5px"} 
      %b Register For Event:
    %ul
      - if not @dont_forget.nil?
        - @dont_forget.each do |i|
          %li
            = link_to(i.event,url_for(i))
    %p
      = link_to "View Current Reservations", signups_url
  // If the team has registered for all events:
- else
  %div
    %h4
      Your Event Schedule
  %div.sideContent
    %p
      You have registered for all events.
      = link_to "View all your registrations", signups_url
%div.action
  %h4
    Logout
%div.sideContent.action
  %p
    =link_to "Logout", logout_url
