=render :partial => "/layouts/header"
- @layout_expanded ||= false
%body#home
  =# render :partial => "/layouts/cwruheader"
  - if current_page?(root_url)
    =#render :partial => "/layouts/headerbelowbar"
  #headerWrapper{:class=>"expanded-#{@layout_expanded}"}
    .row
      .span4
        %span
          =image_tag @current_school.logo.url(:logo)
      .span9
        %h2 Northeast Science Olympiad Invitational
      .span3
        %span.host
          Hosted by the
          %br
          %a{:href=>"http://agpa.uakron.edu"} Akron Global Polymer Academy
  = render :partial => "/layouts/navigation"
  #contentWrapper{:class=>"expanded-#{@layout_expanded}"}
    - if !current_page?("/")
      .row
        .span16
          %h3
            =breadcrumbs.render(:format => :bootstrap)
    .row
      .span11
        - if flash[:error]
          %div.alert-message.error=flash[:error]
        - if flash[:message]
          %div.alert-message.info!=flash[:message]
        = yield
      - if @layout_expanded == false
        .span4.offset1
          .well
            - if @team
              =render :partial => "/layouts/rightreminder"
            - else
              =render :partial => "/layouts/rightinformation"
  = render :partial => "/layouts/footer"
