!!!
%html
  %head
    %title Science Olympiad at #{@current_school.name}
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'
    = javascript_include_tag 'application'
    = render 'layouts/analytics'
    = csrf_meta_tags
    :css
      .site-title-container {
        height: 150px;
        background-color: #004674;
      }
      .site-title {
        font-weight: 800;
        margin: auto;
        padding-top: 90px;
      }
      .site-title a {
        color: #fff;
        text-decoration: none;
      }

  %body#home
    %header.site-title-container
      .container
        %h1.site-title
          = link_to @current_tournament.title, root_path

    .container
      .row
        #content{ :class => (@right_hidden ? 'col-md-12' : 'col-md-8'), :id => 'content' }
          - if flash[:error]
            %div.alert-message.error=flash[:error]
          - if flash[:message]
            %div.alert-message.info!=flash[:message]
          - if @team
            .onlyprint
              You are logged in as #{@team.name} (##{@team.getNumber}).
          = yield
        .col-md-4
          - if @team
            =render :partial => "/layouts/rightreminder"
          - else
            =render :partial => "/layouts/rightinformation"

    .container.site-footer
      Hosted for free with Foundry.
      = link_to "Learn more about Foundry, including how to host your competition with it.", "http://sciolyreg.org"
      Foundry is free and open-source software hosted on
      = link_to "GitHub.", "https://github.com/ted27/scioly-reg"
      To report technical problems, please e-mail
      = link_to "the webmaster.", "mailto:tomdooner@gmail.com"
      If you are an administrator for this event,
      = link_to "click here to log in.", adminlogin_url
    = yield :javascripts
