!!!
%html
  %head
    %title Science Olympiad at #{@current_school.name}
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = render 'layouts/analytics'
    = csrf_meta_tags

  %body#home{ class: ('homepage' if current_page? '/') }
    %header.site-title-container
      .container
        .row
          .col-md-12
            %h1.site-title
              = link_to @current_tournament.title, root_path

    .container
      .row
        - if flash[:error]
          %div.alert-message.error=flash[:error]
        - if flash[:message]
          %div.alert-message.info!=flash[:message]
        - if @team
          .onlyprint
            You are logged in as #{@team.name} (##{@team.getNumber}).
        .col-sm-3.hidden-xs
          %ul.nav.nav-pills.nav-stacked
            %li{ class: ('active' if current_page? '/') }
              = link_to 'Home', root_path
            %li{ class: ('active' if request.url.include? 'schedule') }
              = link_to 'Events', schedules_path
            - if @team
              %li
                = link_to 'Logout', logout_path
            - else
              %li{ class: ('active' if request.url.include? 'login') }
                = link_to 'Login', login_path
          %div{ style: 'height: 100px' }
          = image_tag @current_school.logo.url
          %p= RDiscount.new(@current_tournament.hosted_by_markdown || '').to_html.html_safe
        .col-sm-8
          = yield

    -#
      .container.site-footer
      Hosted for free with Foundry.
      = link_to "Learn more about Foundry, including how to host your competition with it.", "http://sciolyreg.org"
      Foundry is free and open-source software hosted on
      = link_to "GitHub.", "https://github.com/ted27/scioly-reg"
      To report technical problems, please e-mail
      = link_to "the webmaster.", "mailto:tomdooner@gmail.com"
      If you are an administrator for this event,
      = link_to "click here to log in.", adminlogin_url
    = yield :javascripts
