!!!
%html
  %head= render 'shared/header'
  %body#home{ class: ('homepage' if current_page? '/') }
    -# TODO: DRY this up with the no_school layout
    .navbar-default
      .container
        .navbar-left
          = link_to root_path, class: 'navbar-brand dropdown' do
            = @current_school.name
            %b.caret
        .navbar-right
          %ul.nav.navbar-nav
            %li= link_to 'About', '#'
            %li= link_to 'Help', '#'
            - if @current_user
              %li= link_to @current_user.email, user_path(@current_user)
            - else
              %li= link_to 'Log In', login_users_path

    %header.site-title-container
      .container
        %a.site-menu-icon.visible-xs{ href: '#' }
          %span.glyphicon.glyphicon-align-justify
        %h1.site-title
          = link_to @current_tournament.title, root_path
        %h2.site-subtitle
          Science Olympiad @ #{@current_school.name}

    %nav.site-menu-sidebar
      %a.site-menu-close-icon{ href: '#' }
        %span.glyphicon.glyphicon-align-justify
      = render_site_navigation(:sidebar)

    .container
      .row
        .col-sm-3.hidden-xs
          = render_site_navigation(:pills)

          = link_to root_url do
            = image_tag @current_school.logo.url, class: 'sidebar-school-logo'
          %p= RDiscount.new(@current_tournament.hosted_by_markdown || '').to_html.html_safe

        .col-sm-9
          - if flash[:error]
            .alert.alert-danger= flash[:error]
          - if flash[:message]
            .alert.alert-info= flash[:message]
          = yield

    = yield :javascripts
    :javascript
      $(function() {
        $('.site-menu-icon').on('click', function(e) {
          $('.site-menu-sidebar').show();
          e.preventDefault();
        });
        $('.site-menu-close-icon').on('click', function(e) {
          $('.site-menu-sidebar').hide();
          e.preventDefault();
        });
      });
