!!!
%html
  %head
    %title Science Olympiad at #{@current_school.name}
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = render 'layouts/analytics'
    = csrf_meta_tags

  %body#home{ class: ('homepage' if current_page? '/') }
    %header.site-title-container
      .container
        %a.site-menu-icon.visible-xs{ href: '#' }
          %span.glyphicon.glyphicon-align-justify
        %h1.site-title
          = link_to @current_tournament.title, root_path

    .container
      .row
        - if flash[:error]
          %div.alert-message.error=flash[:error]
        - if flash[:message]
          %div.alert-message.info!=flash[:message]
        - if @team
          .onlyprint
            You are logged in as #{@team.name} (##{@team.getNumber}).

        .col-sm-3.hidden-xs
          %ul.nav.nav-pills.nav-stacked
            %li{ class: ('active' if current_page? '/') }
              = link_to 'Home', root_path
            %li{ class: ('active' if params[:controller] == 'schedules') }
              = link_to 'Events', schedules_path

          - if @team
            %h3= @team.coach
            %ul.nav.nav-pills.nav-stacked
              %li{ class: ('active' if current_page?(team_path(@team))) }
                = link_to @team.name, team_path(@team)
              %li{ class: ('active' if current_page?(signups_path)) }
                = link_to 'My Registrations', signups_path
              %li{ class: ('active' if current_page?(edit_team_path(@team))) }
                = link_to 'Change Password', edit_team_path(@team)
              %li
                = link_to 'Logout', logout_teams_path
          - else
            %ul.nav.nav-pills.nav-stacked
              %li{ class: ('active' if request.url.include? 'login') }
                = link_to 'Login', login_teams_path

          - if @current_admin
            %h3 Admin Panel
            %ul.nav.nav-pills.nav-stacked
              %li{ class: ('active' if current_page?(edit_admin_tournament_path(@current_tournament))) }
                = link_to 'Tournament Settings', edit_admin_tournament_path(@current_tournament)
              %li{ class: ('active' if current_page?(admin_school_edit_path(@current_tournament))) }
                = link_to 'School Settings', admin_school_edit_path(@current_tournament)
              %li{ class: ('active' if current_page?(admin_schedules_path)) }
                = link_to 'Manage Events', admin_schedules_path
              %li{ class: ('active' if current_page?(admin_teams_path)) }
                = link_to 'Manage Teams', admin_teams_path

          = link_to root_url do
            = image_tag @current_school.logo.url, class: 'sidebar-school-logo'
          %p= RDiscount.new(@current_tournament.hosted_by_markdown || '').to_html.html_safe

        .col-sm-9
          = yield

    = yield :javascripts
