!!!
%head
  - if content_for?(:title)
    %title= yield :title
  - else
    %title Science Olympiad Scoring System
  = stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'application'
  = render 'layouts/analytics'
%body
  = yield
  = yield :javascripts
