!!!
%head
  %title Science Olympiad Scoring System
  = stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'application'
  = render 'layouts/analytics'
  :css
    body, html {
      font-family: 'ClearSansRegular', Helvetica, sans-serif;
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: 'ClearSansBold', Helvetica, sans-serif;
      font-weight: normal;
    }
    .features .feature {
      margin-bottom: 30px;
    }
    .usedat {
      margin-bottom: 30px;
    }
%body
  = yield
  = yield :javascripts
